.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.donut-infinite {
  position: fixed;
  top: 40px;
  animation: rotate 4s linear infinite;
  -webkit-filter: drop-shadow(5px 5px 5px #f10303);
  filter: drop-shadow(1px 1px 50px #f10a0a7b);
  opacity: 0.9;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 920px) {
  .donut-infinite {
    display: none;
  }
}
