* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100dvh;
}
